# Python cache files
__pycache__/
*.py[cod]
*.sqlite3

# Environment variables
.env

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.swp
*~

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# My PyCharm stuff
.idea/

# VS Code settings
.vscode/

# Jupyter Notebook files
.ipynb_checkpoints


# Node modules and build files
node_modules/
build/
dist/
