{% load static %}

<script>
    function showLoadingModal() {
        loadingModal = document.getElementById('loadingModal');
        loadingModal.style.display = 'block';
    }

    function hideLoadingModal() {
        loadingModal = document.getElementById('loadingModal');
        loadingModal.style.display = 'none';
    }

    // For forms: add the class "show-loading-after-submit" to any form you want to show the loader
    var formsToDelay = document.getElementsByClassName('show-loading-after-submit');
    for (var i = 0; i < formsToDelay.length; i++) {
        formsToDelay[i].addEventListener('submit', showLoadingModal);
    }

    // For URLs: add the class "show-loading-after-click" to any URL (a element) you want to show the loader
    function showLoaderOnUrlClick(url) {
        showLoadingModal();
        window.location = url;
    }
</script>

<div>
    <div id="loadingModal" class="modal" style="display: none;">
        <div class="modal__inner p3 center col-lg-12" style="height: 600px; top: 100px;">
            <h3>Processing...</h3>
            <img src="{% static 'img/wait.gif' %}" alt="Loading...">
        </div>
    </div>
</div>
